<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="Pengo_Rewrites::pengo_menu_rewrites"
		title="Rewrites"
		module="Pengo_Rewrites"
		sortOrder="9999"
		resource="Pengo_Rewrites::pengo_menu_rewrites"
		parent="Pengo_Backend::pengo_menu"
		/>
		<add id="Pengo_Rewrites::pengo_menu_addressmx_upload"
		title="Upload File"
		module="Pengo_Rewrites"
		sortOrder="9999"
		resource="Pengo_Rewrites::pengo_menu_rewrites_upload"
		parent="Pengo_Rewrites::pengo_menu_rewrites"
		action="rewrites/upload/index"
		/>
    </menu>
</config>
